head
  meta(charset='utf-8')
  title demo
  link(rel='stylesheet' href='css/style.css')
  script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
style.
  /* Bordered form */
  /* Set a style for the submit button */

  /* Full-width inputs */
  input[type=text], input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }

  .div-a{ float:left; padding: 0 0px;width:20%;border:none}
  .div-b{ float:left; padding: 0 10px;border:none}
.App
  .App-header
    img.App-header-logo(src='images/logo.svg' alt='logo')
    h2 Nexmo API Demo by OBS
  .login-main
    .Login-otp2
       h1 SMS OTP 
       h3
        | Enter the 4-digit One-Time Password (OTP) sent to your mobile number #{cust_a_number}!       
       .div
        form(action='/check-code', method='post')
            input.ghost-input(name='code', type='text', placeholder='Enter your verification code', required='')
            .div-b  
               input.ghost-button(type='submit', class='btn', value='Enter OTP')
